.profile {
    text-align: center;
    margin: 20px auto;
}

.avatar {
    max-width: 260px;
    background-color: rgb(176, 204, 232);
    border-radius: 50% ;
}

.name {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
}

.tag {
    color: rgb(121, 121, 121);
    margin: 10px 0;
    font-size: 20px;
}

.location {
    color: rgb(121, 121, 121);
    margin: 10px 0;
    font-size: 20px;
}

.stats {
    display: flex;
    list-style: none;
    font-size: 20px;
    padding: 0;
}
.item {
    display: flex;
    flex-direction: column;
    background-color:  rgb(231, 230, 230);
    outline: solid 2px rgba(121, 121, 121, 0.697);
    border-radius: 2px;
    padding: 10px;
    min-width: 110px;
}

.label {
    color: rgb(121, 121, 121);
    margin: 5px;
}

.quantity {
    font-weight: 500;
    font-size: 30px;
}